<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="icon" href="/img/weather.png">

<link rel="stylesheet" href="/css/styles.css">
<script src="/js/index.js"></script>
</head>
<body>
    <div class="main-content">
{{>header}}
<p>This site is created by Vksawe.It uses data from the Mapbox API and Weather Stack API</p>
    </div>

<img class="potrait" src='/img/lion.jpg'>


</body>
{{>footer}} 
</html>
