<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">


</head>
<body>
<div class="main-content">
{{>header}} 
<p>Use this site to get Weather</p>

<p id="weather-paragraph"></p>
<p id="message2"></p>
<form>
    <input  placeholder="Location">
    <button type='submit'>Search</button>
</form>

</div>





<script src="/js/index.js"></script>
</body>
{{>footer}}
</html>